<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-lg-0">
                <button class="toggle-btn btn btn-primary rounded-2 me-3" type="button">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <span class="navbar-brand mb-0 h1">Well Management System</span>

                <li class="nav-item">
                    <a class="nav-link" role="button" hx-get="pages/dashboard/dashboard.html" hx-swap="innerHTML"
                        hx-target="#content">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" role="button" hx-get="pages/map.html" hx-swap="innerHTML"
                        hx-target="#content">Map</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Modules
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Well Integrity Management</a></li>
                        <li><a class="dropdown-item" href="#">Well Test</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Active Rigs</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-info" type="submit">Search</button>
            </form>

        </div>
</nav>